@use './../../index.scss' as *;

$purple: #a56fff;
$yellow: #d5b012;
$blue: #20c1d8;
$red: #c16266;
$green: #90b061;
$grey: #afb6af;

.about {
  .content {
    .parallaxContainer {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 10px;

      @media (max-width: $mobile) {
        flex-direction: column;
      }

      h1 {
        z-index: 1;

        .parallaxTextContainer {
          padding: 10px;

          .constTxt {
            p {
              font-size: 1.5rem;
              font-weight: 400;
              color: $grey;
              font-family: 'JetBrains Mono', sans-serif;
              text-shadow: $text-shadow;

              @media (max-width: $small) {
                font-size: 1.2rem;
              }
            }

            margin-left: 30px;

            .space {
              margin-left: 30px;
            }

            .purpleTxt {
              color: $purple;
            }

            .yellowTxt {
              color: $yellow;
            }

            .blueTxt {
              color: $blue;
            }

            .redTxt {
              color: $red;
            }

            .greenTxt {
              color: $green;
            }
          }
        }
      }

      .parallaxImgContainer {
        display: flex;
        justify-content: center;

        .imgContainer {
          width: 70%;
          position: relative;
          margin: 20px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          transform-style: preserve-3d;

          &::before,
          &::after {
            content: '';
            position: absolute;
            border-radius: inherit;
          }

          &::before {
            inset: 0.7rem;
            background: rgb(117, 41, 187);
            transform: translateZ(-1rem);
            filter: blur(15px);
            opacity: 0.8;
          }

          &::after {
            inset: -0.9rem;
            background: rgba(0, 0, 0, 0.5);
            transform: translateZ(-1rem);
          }

          transform: perspective(5000px) rotateY(var(--rotateY))
            rotateX(var(--rotateX));
        }
      }

      .setupImg {
        width: 100%;
        border-radius: 8px;
      }
    }

    .aboutTextContainer {
      margin-top: 30px;

      p {
        font-size: 1.3rem;

        @media (max-width: $mobile) {
          font-size: 1.1rem;
        }
      }
    }
  }
}
