@use './../../index.scss' as *;

.content {
  margin: $content-margin;

  h3 {
    font-family: $montserrat;
    text-transform: uppercase;
    color: $blue;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 1rem;
    text-shadow: $text-shadow;

    @media (max-width: $small) {
      font-size: 1.1rem;
    }
  }

  h1 {
    font-family: $montserrat;
    font-size: 3.5rem;
    margin: 0;
    color: rgb(255, 255, 255);
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.2;
    text-shadow: $text-shadow;

    @media (max-width: $small) {
      font-size: 2.5rem;
    }
  }

  .custom-type-animation-cursor::after {
    content: '|';
    animation: cursor 1.1s infinite step-start;
  }

  @keyframes cursor {
    50% {
      opacity: 0;
    }
  }

  p {
    margin: 0;
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    font-weight: 200;
    text-shadow: $text-shadow;

    @media (max-width: $small) {
      font-size: 1.1rem;
    }
  }

  .underlineLink {
    color: rgb(255, 255, 255);
    text-decoration: none;
    outline: none;
    position: relative;
    letter-spacing: 0.5px;
    font-weight: 300;
    border-bottom: 1px solid #008ed7;
    padding: 1px;

    &::before {
      transform: scaleX(0);
      transform-origin: bottom right;
    }

    &:hover::before,
    &:active::before,
    &.hoverEffect::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    &::before {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      inset: 0 0 0 0;
      background: #008ed7;
      z-index: -1;
      transition: transform 0.3s ease;
    }
  }

  .projectsPreviewContainer {
    margin-top: 100px;

    @media (max-width: $small) {
      margin-top: 50px;
    }

    .projectsPreviewTitle {
      font-family: $montserrat;

      text-shadow: $text-shadow;
      color: $blue;
      font-weight: 600;
      font-size: 1.1rem;
      margin-bottom: 10px;
    }

    .projectsPreview {
      padding: 15px;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.35);
      box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 5px;
    }

    .projectsButton {
      text-align: right;
      margin-top: 15px;
    }
  }

  @media (max-width: $tablet) {
    margin: $content-margin-tablet;
  }

  @media (max-width: $small) {
    margin: $content-margin-mobile;
  }
}
