.card {
  background: no-repeat center center;
  width: 45%;
  height: 350px;
  overflow: hidden;
  border-radius: 15px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
