@use './../../index.scss' as *;

.card {
  background: no-repeat center center;
  width: 47%;
  height: 350px;
  overflow: hidden;
  border-radius: 15px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

$big-stone: #152536;
$white: #fff;
$maroon-flush: #c32361;
$black: #000;
$lite-grey: rgba($black, 0.2);
$lite-big-stone: rgba($big-stone, 0.7);

$card-width: 350px;
$card-height: 350px;
$thumb-height: 260px;

$border-radius: 5px;
$box-shadow: 0 1px 4px rgba($black, 0.3);
$transition: cubic-bezier(0.17, 0.67, 0.5, 1.03);
$timing-1: 0.4s 0.15s;
$timing-2: 0.5s 0.25s;

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

li.card {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  overflow: hidden;

  &:hover,
  &:active {
    .thumb {
      transform: scale(1.12);
      filter: blur(1rem);
    }
  }

  .thumb {
    @include size(auto, $thumb-height);
    background: no-repeat center;
    background-size: cover;
    border-radius: $border-radius;
    transition: ease 0.4s;
  }

  .infos {
    @include size(auto, $card-height);
    position: relative;
    padding: 8px 20px;
    background: rgba(0, 0, 0, 0.6);
    transition: $timing-1 $transition;

    .title {
      position: relative;
      margin: 10px 0;
      letter-spacing: 2px;
      color: rgb(236, 236, 236);

      font-size: 1rem;
      text-transform: uppercase;
      text-shadow: 0 0 0px lighten($big-stone, 20);
    }

    .icon {
      position: absolute;
      bottom: -12px;
      right: 0px;
      width: 32px;
      height: 32px;

      background: no-repeat center;
      background-size: 100% auto;
      filter: drop-shadow(1px 1px 4px rgb(0 0 0 / 0.2));
    }

    .category {
      text-transform: uppercase;
      font-size: 0.8rem;
      color: $lite-big-stone;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(236, 236, 236, 0.4);
      color: rgb(236, 236, 236);
      opacity: 0.8;
    }

    .txt {
      padding-top: 20px;
      font-size: 1rem;
      font-weight: 300;
      color: rgb(236, 236, 236);
      opacity: 0;
      transition: ease 1s;
    }

    .githubLink {
      position: absolute;
      bottom: 20px;
      right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      transition: ease 0.4s;

      opacity: 0;
      transition: ease 0.4s;

      .details {
        letter-spacing: 1px;
        font-size: 0.8rem;
        text-transform: uppercase;
        opacity: 0;
        transition: ease 0.4s;

        &:hover,
        &:active {
          opacity: 1;
        }
      }
    }
  }

  &:hover .infos,
  &:active .infos {
    transform: translateY(-$thumb-height);
    .githubLink,
    .txt {
      opacity: 1;
    }
    .details {
      opacity: 0.7;
    }
  }

  @media (min-width: $desktop) {
    width: 30%;
  }

  @media (max-width: $tablet) {
    width: 46%;
  }

  @media (max-width: $mobile) {
    width: 100%;
  }
}
