@use './../../index.scss' as *;

.header {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 1rem;
    margin-top: 2rem;
    margin-left: 4rem;
    font-weight: lighter;

    @media (max-width: $small) {
      margin-left: 2.5rem;
      margin-top: 1rem;
    }

    @media (max-width: 400px) {
      margin-left: 2rem;
      margin-top: 0rem;
    }
  }

  .wrapLogo {
    display: flex;
    align-items: center;
    transition: ease-in-out 0.2s;

    .logo {
      margin-right: 0.5rem;
      height: 4.5rem;
      transition: ease 0.4s;

      &:hover,
      &:active {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  .navButton {
    display: block;
    z-index: 1000;
    transition: ease-in-out 0.2s;
    border-radius: 5px;

    background: url('/icons/burger-menu.svg');
    background-repeat: no-repeat;
    background-size: cover;

    filter: invert(95%) sepia(4%) saturate(1198%) hue-rotate(185deg)
      brightness(118%) contrast(85%);

    opacity: 0.9;
    border: 0;
    width: 2.5rem;
    aspect-ratio: 1;

    &:active {
      transform: scale(1.07);
    }
  }

  .clicked {
    background-image: url('/icons/cross.svg');
    width: 3rem;
  }

  .mainNav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2rem;
    background: rgba(0, 0, 0, 0.3);

    a {
      text-decoration: none;
      color: #ececec;

      position: relative;

      [aria-hidden='true'] {
        font-weight: 500;
        margin-inline-end: 0.5em;
      }

      &::after {
        content: '';
        position: absolute;
        background-color: $blue;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -5px;
        border-radius: 3px;
        transition: 0.3s;
      }

      &:hover::after {
        width: 100%;
      }

      &:hover {
        text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.15),
          1px -1px 0 rgba(255, 255, 255, 0.15),
          -1px 1px 0 rgba(255, 255, 255, 0.15),
          1px 1px 0 rgba(255, 255, 255, 0.15);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        color: rgb(255, 255, 255);
      }
    }

    .selectedNumber {
      color: $blue;
      text-shadow: none;

      &[aria-hidden='true'] {
        font-weight: 600;
      }
    }
  }

  @supports (backdrop-filter: blur(0.5rem)) {
    .mainNav {
      backdrop-filter: blur(0.5rem);
      background: rgba(0, 0, 0, 0.3);
    }
  }

  @media (max-width: 43rem) {
    .wrapNav {
      margin-left: 2rem;
      margin-top: 1.5rem;
    }

    .mainNav {
      position: fixed;
      z-index: 999;
      transform: translateX(100%);
      inset: 0 0 0 30%;
      flex-direction: column;
      padding: min(30vh, 10rem) 2rem;
      background: rgba(0, 0, 0, 0.9);
      transition: transform 0.3s ease-in-out;
    }

    .open {
      transform: translateX(0);
    }

    @supports (backdrop-filter: blur(1rem)) {
      .mainNav {
        backdrop-filter: blur(1rem);
        background: rgba(0, 0, 0, 0.3);
      }
    }

    .navButton {
      margin-right: 3rem;

      @media (max-width: $small) {
        margin-right: 2.5rem;
      }

      @media (max-width: 400px) {
        margin-right: 2rem;
      }
    }

    .mobileNavButton[aria-expanded='true'] {
      background-image: url('/icons/cross.svg');
    }

    .wrapLogo {
      margin-top: 0.75rem;
    }
  }

  @media (min-width: 43em) and (max-width: 55em) {
    .mainNav a > span[aria-hidden] {
      display: none;
    }
  }

  @media (min-width: 43em) {
    .navButton {
      display: none;
    }

    .mainNav {
      padding-block: 1.5rem;
      padding-inline: clamp(3rem, 11vh, 10rem);
      gap: (1.5rem, 5vw, 3rem);
    }
  }
}
