$background: #0e141b;
$blue: #008ed7;

$content-margin: 8rem 20%;
$content-margin-tablet: 8rem 15%;
$content-margin-mobile: 4rem 10%;

$text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);

$montserrat: 'Montserrat', sans-serif;

//* media queries
$small: 640px;
$mobile: 768px;
$tablet: 1024px;
$desktop: 1280px;
$large: 1536px;

body {
  background-color: $background;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .page {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }

  .svgBackground {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;

    background-image: url('');

    transition: opacity 0.35s ease-in-out;
    opacity: 1;

    transform: scale(1.05) translateX(var(--translateY))
      translateY(var(--translateX));
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
